* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Courier New", Courier, monospace;
    background-color: rgb(83, 41, 41);
    color: #fff;
  }
  
  /*#region Navbar */
  .navbar {
    overflow: hidden;
    background-color: rgb(46, 5, 5);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  .navbar a {
    position: absolute;
    left: 0;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    padding: 5px;
    color: #fff;
    font-weight: bold;
  }
  .navbar a:hover {
    color: #5f0a18;
  }
  .navbar form {
    position: relative;
    width: 80%;
    max-width: 500px;
  }
  .navbar input {
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px;
    padding-right: 30px;
    width: 100%;
  }
  .navbar button {
    border: none;
    background-color: #fff;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
  }

  @media (max-width: 700px) {
    .navbar {
      justify-content: flex-end;
    }
    .navbar form {
      width: 60%;
      margin-right: 20px;
    }
  }
  /*#endregion*/
  
  /*#region home Page */
  .home-background {
    position: relative;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .home-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .home-container input {
    margin: 0 0.5rem 0 0.5rem;
    display: block;
    padding: 0.6rem;
    border: none;
    border-radius: 10px;
    width: 400px;
    font-size: 20px;
  }
  @media (max-width: 400px) {
    .home-container input {
      width: 300px;
      font-size: 30px;
    }
  }
  .home-container button {
    margin: 1.5rem;
    width: 300px;
    height: 45px;
    border-radius: 25px;
    font-size: 30px;
    border: none;
    color: white;
    background-color: #981d27;
    cursor: pointer;
  }
  .home-container button:hover {
    background-color: #0f4d19;
  }


  .home-title h1 {
    font-family: "Impact", fantasy;
    font-size: 100px;
    color: white;
    align-items: center;
    justify-content: space-between;
  }
  
  /*#endregion*/
  
  /*#region Movie Card */
  .movie-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    margin-top: 10px;
  }
  .movie-card {
    width: 45%;
    background-color: #fff;
    color: #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    display: flex;
    margin: 10px;
  }
  .movie-card .container {
    width: 100%;
  }
  .movie-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .movie-card img {
    border-radius: 5px 0 0 5px;
  }
  
  .movie-card .container {
    position: relative;
    min-width: 50px;
    padding: 2px 16px;
  }
  .movie-card .container h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
  }
  .movie-card .container .year {
    margin: 0;
  }
  .movie-card .container .overview {
    overflow-y: scroll;
    height: 150px;
  }
  .movie-card .container .footer {
    position: absolute;
    width: 100%;
    border-top: 1px solid #e3e3e3;
    bottom: 0;
    left: 0;
    padding: 16px;
    margin: 0;
  }
  .movie-card .container .footer a {
    color: #000;
    text-decoration: none;
  }
  @media (max-width: 1300px) {
    .movie-card {
      width: 80%;
    }
  }
  @media (max-width: 768px) {
    .movie-card {
      width: 95%;
    }
  }
  @media (max-width: 500px) {
    .movie-card img {
      width: 100px;
      height: 150px;
    }
    .movie-card .container p {
      width: 100%;
    }
    .movie-card .container .overview {
      display: none;
    }
  }
  @media (max-width: 375px) {
    .movie-card {
      width: 200px;
    }
    .movie-card img {
      width: 200px;
      height: 300px;
    }
    .movie-card .container {
      display: none;
    }
  }
  /*#endregion*/
  
  /*#region Movie Details */
  .movie-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 50px);
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  .movie-card-container-overlay {
    position: fixed;
    top: 50px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .movie-card-big {
    display: flex;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 10px;
    width: 80%;
    z-index: 1;
  }
  .movie-card-big .container {
    padding: 25px;
  }
  /*#endregion*/

  .navbar-bottom {
    background-color: #ffffff00;
    position: fixed;
    left: 0%;
    bottom: 0;
    width: 10%;
    text-align: center;
  }